@model IEnumerable<WebNhaHang.Models.EF.Product>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Food Menu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/foodtemplate/stylefoood.css" rel="stylesheet" />
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    <style>
    
    </style>
    <section class="menu">
        <div class="menu-container">
            <div class="menu-head">
                <h2>Special Food Menu</h2>
                <p>Sự kết hợp tinh tế giữa các nguyên liệu tươi ngon và kỹ thuật chế biến độc đáo đã tạo nên những món ăn đặc biệt chỉ có tại thực đơn của chúng tôi !!</p>
            </div>


            @Html.Action("MenuFood", "Menu")

            <div class="food-items">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        var strImage = "";
                        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                        if (img != null)
                        {
                            strImage = img.Image;
                        }

                        <!-- item -->
                        <div class="food-item @item.ProductCategory.Alias">
                            <div class="food-img">
                                <img src="@strImage" alt="@item.Title">
                            </div>
                            <div class="food-content">
                                <h2 class="food-name">@item.Title</h2>
                                <div class="line"></div>
                                <h3 class="food-price">@WebNhaHang.Common.Common.FormatNumber(item.Price, 0) VND</h3>
                                <ul class="rating">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="far fa-star"></i></li>
                                </ul>
                                @*<div class=" add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.id"> Thêm vào giỏ hàng</a> <i class="fa fa-shopping-cart"></i></div>*@
                                 
                                <p class="category">Categories: <span>@item.ProductCategory.Title</span></p>
                            </div>
                        </div>
                        <!-- end of item -->
                        
                    }
                }
            </div>
        </div>
    </section>
    
 








    <script src="~/Content/foodtemplate/script.js"></script>
</body>
</html>