@model PagedList.PagedList<WebNhaHang.Models.EF.Reservation>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Danh sách đơn đặt bàn";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<link href="~/Asset/css/searchButton.css" rel="stylesheet" />
<style>




    .table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: #fff;
        color: #212529;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

        .table td,
        .table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

        .table tbody + tbody {
            border-top: 2px solid #dee2e6;
        }


    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }


        .pagination .disabled {
            color: gray;
            pointer-events: none;
            cursor: default;
        }

        .pagination .dots {
            padding: 8px 16px;
        }

    .table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: #fff;
        color: #212529;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

        .table td,
        .table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

        .table tbody + tbody {
            border-top: 2px solid #dee2e6;
        }

        .table th {
            font-weight: bold;
            text-align: center;
        }

        .table td {
            text-align: center;
        }

        /* Column headers */
        .table th[colspan="2"] {
            text-align: left;
        }

        .table th[colspan="3"] {
            text-align: center;
        }

        .table th[colspan="4"] {
            text-align: right;
        }

    /* Column content */

</style>
<div class="">
    <div class="col-2">
        @using (Html.BeginForm("Index", "Reservation", FormMethod.Get, new { }))
        {







            <div class="searchBox">


                @Html.TextBox("SearchString", "", new { @class = "searchInput", @type = "text", @placeholder = "Search" })
                <button type="submit" class="searchButton" href="#">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>

        }

    </div>
</div>
<table class="table table-hover table-bordered " style="border:double">
    <thead>
        <tr>

            <th>Stt</th>
            <th>Mã đặt bàn</th>
            <th>Người đặt  </th>
            <th>Email</th>
            <th>Ngày hẹn</th>
            <th>Giờ hẹn</th>
            <th>Ngày tạo</th>
            <th>Số người</th>
            <th>Loại phòng</th>






        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;

            foreach (var item in Model)
            {

                <tr id="trow_@item.id">

                    <td>@i</td>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.DateTime.ToString("dd/MM/yyyy")</td>
                    <td>@item.DateTime.ToString("HH:mm")</td>
                    <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.NumberOfPeople</td>
                    <td>@item.Room</td>



                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="8"> Không có thông tin</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-6"> </div>
    <div class="col-6" style="text-align:right;">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
