@model PagedList.IPagedList<WebNhaHang.Models.EF.Reservation>
@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = " Account information";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}





<link href="~/Content/Accountcss/_account.css" rel="stylesheet" />
<section class="check-out-section pt-40 pb-50">

    <style>
        .table-hover {
            border-collapse: unset;
        }

        .mautab a {
            margin-right: -51.5%;
        }

        .mautabb a {
            margin-right: -4%;
        }

    




        .table {
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: #fff;
            color: #212529;
            border: 1px solid rgba(0, 0, 0, 0.125);
        }

            .table td,
            .table th {
                padding: .75rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
            }

            .table thead th {
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
            }

            .table tbody + tbody {
                border-top: 2px solid #dee2e6;
            }


        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
                margin: 0 4px;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border: 1px solid #4CAF50;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }


            .pagination .disabled {
                color: gray;
                pointer-events: none;
                cursor: default;
            }

            .pagination .dots {
                padding: 8px 16px;
            }

        .table {
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: #fff;
            color: #212529;
            border: 1px solid rgba(0, 0, 0, 0.125);
        }



            .table td,
            .table th {
                padding: .75rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
            }

            .table thead th {
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
            }

            .table tbody + tbody {
                border-top: 2px solid #dee2e6;
            }

            .table th {
                font-weight: bold;
                text-align: center;
            }

            .table td {
                text-align: center;
            }

            /* Column headers */
            .table th[colspan="2"] {
                text-align: left;
            }

            .table th[colspan="3"] {
                text-align: center;
            }

            .table th[colspan="4"] {
                text-align: right;
            }

        /* Column content */

    </style>
    <div class="container" style="max-width:1440px">
        <div class="row" style="justify-content:center">
            <div class="col-lg-3 col-12 mb-30">
                <div class="myaccount-tab-menu nav" role="tablist">
                    <div>
                        <a href="/home/thongtintaikhoan" class="active">
                            <i class="fas fa-tachometer-alt"></i>
                            Account information
                        </a>
                    </div>

                    <div class="mautab">

                        <a href="/order/index ">
                            <i class="fa fa-cart-arrow-down"></i>
                            Ordered food
                        </a>

                    </div>


                    <div class="mautabb">
                        <a href="/Home/InfoReservation">
                            <i class="fa fa-user"></i>
                            Manage table orders
                        </a>
                    </div>


                </div>
            </div>
            <div class="col-lg-8 mb-30">
                <div class="tab-content" id="myaccountContent">
                    <!-- Single Tab Content Start -->
                    <div class="tab-pane fade active show" id="dashboad" role="tabpanel">
                        <div class="myaccount-content">

                            <div id="accordion">
                                <div class="col-xl-5" style="max-width:100%;">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0" style="text-align:center"><b>Table information</b></h5>
                                        </div>


                                        <table border="1" class="table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">Code</th>
                                                    <th style="text-align:center;">Name</th>
                                                    <th style="text-align:center;">Email</th>
                                                    <th style="text-align:center;">Number of people</th>
                                                    <th style="text-align:center;">Room</th>
                                                    <th style="text-align:center;">Note</th>
                                                    <th style="text-align:center;">Time</th>
                                                    <th style="text-align:center;">Date of appointment</th>
                                                    <th style="text-align:center;">Create day</th>
                                                    <th style="text-align:center;">Status</th>

                                                </tr>
                                            </thead>


                                            <tbody>
                                                @if (Session["FullName"] != null)
                                                {
                                                    bool foundUser = false;
                                                    string email = Session["Email"].ToString();
                                                    string fullName = Session["FullName"].ToString();
                                                    foreach (var user in Model)
                                                    {
                                                        if (user.Email == email)
                                                        {
                                                <tr>
                                                    <td style="text-align:center;">@user.Code</td>
                                                    <td style="text-align:center;">@user.Name</td>
                                                    <td style="text-align:center;">@user.Email</td>

                                                    <td style="text-align:center;">@user.NumberOfPeople</td>
                                                    <td style="text-align:center;">@user.Room</td>
                                                    <td style="text-align:center;">@user.Note</td>
                                                    <td style="text-align:center;">@user.DateTime.ToString("HH:mm")</td>
                                                    <td style="text-align:center;">@user.DateTime.ToString("dd/MM/yyyy")</td>
                                                    <td style="text-align:center;">@user.CreateDate.ToString("dd/MM/yyyy")</td>
                                                
                                                    @if (user.Status.ToString() == "0")
                                                    {
                                                        <td style="text-align:center;"> Waiting for confirmation <a href="@Url.Action("CheckDatBan", "Home", new { id = user.Code, check = "300" })"> <div style="border: 1px solid rgb(255 4 4); color: rgb(255 4 4) ">Cancel menu </div></a></td>
                                                    }
                                                    else if (user.Status.ToString() == "1")
                                                    {
                                                        <td style="text-align:center;"> Confirmed <a href="@Url.Action("CheckDatBan", "Home", new { id = user.Code, check = "300" })"> <div style="border: 1px solid rgb(255 4 4); color: rgb(255 4 4) ">Cancel menu </div></a> </td>
                                                    }
                                                    else if (user.Status.ToString() == "-1")
                                                    {
                                                        <td style="text-align:center; color:red;"> Cancelled     </td>
                                                    }

                                                </tr>
                                                            foundUser = true;
                                                        }

                                                    }
                                                    if (!foundUser)
                                                    {
                                                        <tr>
                                                            <td colspan="10">You have not reserved a table yet go back to <a href="/reservation/create"> to reserve a table</a> to reserve</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>




                                        </table>
                                        @*<div class="row">
                                            <div class="col-5"> </div>
                                            <div class="col-5" style="text-align:right;">
                                                @Html.PagedListPager(Model, page => Url.Action("InfoReservation", new { page }))
                                            </div>
                                        </div>*@

                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>

                </div>




            </div>
        </div>
    </div>





</section>

<script>
    function valideNumber() {
        var charCode = (event.which) ? event.which : event.keyCode;
        if (charCode >= 48 && charCode <= 57) {
            return true;
        } else {
            return false;
        }
    }
</script>
