@model WebNhaHang.Models.EF.User
@{
    ViewBag.Title = "RsPasswordUser";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}
@using (Html.BeginForm("RsPasswordUser", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    @ViewBag.error
    @ViewBag.SuccessMessage
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </div>
}