@model WebNhaHang.Models.EF.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}
<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" />
<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Register</div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-group" })
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "form-group" })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <label>Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label>Create password</label>

                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label>Confirm password</label>

                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            <small class="form-text text-muted">We'll never share your password with anyone else.</small>
                            <p></p>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" value="Create"> Register  </button>
                                <p> </p>
                                @Html.ActionLink("Back to List", "Index")
                            </div> <!-- form-group// -->
                        </div>
                    </div>


                </div>
            </div>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}