@model PagedList.IPagedList<WebNhaHang.Models.EF.Aplication>
@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = "List of candidates";
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/recruitment" class="nav-link">List of candidates </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/home/index" class="nav-link">Shop </a>
        </li>
    </ul>
}
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách người ứng tuyển</h3>
            <div class="card-tools">

                <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button>

                @Html.ActionLink("Export to Excel", "Reports", new { ReportType = "Excel" })|
                @Html.ActionLink("Export to PDF", "Reports", new { ReportType = "PDF" })|
                @Html.ActionLink("Export to WORD", "Reports", new { ReportType = "WORD" })|
                @Html.ActionLink("Export to IMAGE", "Reports", new { ReportType = "IMAGE" })|
            </div>

        </div>
        <div class="card-body">

            <table class="table table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>#</th>

                        <th>Name</th>
                        <th>SDT</th>
                        <th>Email</th>
                        <th>Address</th>


                        <th>Position applying</th>
                        <th>experience</th>
                        <th>Date Created</th>
                        @*<th>Status</th>*@

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.Position</td>
                                <td>@item.Experience</td>


                                @*<td>@(item.TypePayment==1?"chờ thanh toán":"Đã thanh toán")</td>*@
                                <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="/admin/recruitment/view/@item.ApplicantID" class="btn btn-sm btn-success">Xem</a>
                                    @*<a href="#" class="btn btn-sm btn-dangerrrr btnCapNhat" data-id="@item.id">Cập nhật</a>*@
                                </td>

                            </tr>
                            i++;
                        }

                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"> </div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderId" value="0" />
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" id="ddPageThai">
                        <option value="2">
                            Paid
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary " id="btnLuu">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script src="~/Content/assets/js/export.js"></script>

@section scripts{

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        function fnExcelReport(id, name) {
            var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
            tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
            tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
            tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
            tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
            tab_text = tab_text + "<table border='1px' style='color:black'>";


            var exportTable = $('#' + id).clone();
            exportTable.find('th').last().remove();
            exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
            exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

            tab_text = tab_text + exportTable.html();
            tab_text = tab_text + '</table></body></html>';
            var fileName = "List of candidates" + '.xls';

            //Save the file
            var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
            window.saveAs(blob, fileName);
        }

        $(document).ready(function () {
            $('body').on('click', '.btnCapNhat', function () {
                var id = $(this).data("id");
                $('#txtOrderId').val(id);
                $('#modal-default').modal('show');
            });

            $('body').on('click', '#btnLuu', function () {
                var id = $('#txtOrderId').val();
                var tt = $('#ddTrangThai').val();
                $.ajax({
                    url: '/admin/order/UpdateTT',
                    type: 'POST',
                    data: { id: id, trangthai: tt },
                    success: function (res) {

                        if (res.Success) {
                            location.reload();
                        }
                    }
                });

            });
        });

    </script>
}