@model WebNhaHang.Models.EF.ApplicationViewModel
@{
    ViewBag.Title = "Form ứng tuyển";
    Layout = "/Views/Shared/_LayoutOther.cshtml";
}
<link href="/Asset/css/application.css" rel="stylesheet" />
@*<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Application form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <h1> Application </h1>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend><span class="number">1</span> Your Basic Info</legend>
                        @Html.LabelFor(m => m.FullName, new { @class = "fa fa-user", @value = "Tên" })
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @required = "" })
                        @Html.ValidationMessageFor(m => m.FullName)
                        @Html.LabelFor(m => m.Phone, new { @class = "fa fa-phone" })
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @required = "" })
                        @Html.ValidationMessageFor(m => m.Phone)
                        @Html.LabelFor(m => m.Email, new { @class = "fa fa-envelope" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </fieldset>
                    <fieldset>
                        <legend><span class="number">2</span> Your Profile</legend>
                        <label><i class="" aria-hidden="true"></i> Vị trí</label>

                        @Html.DropDownListFor(m => m.Position, (IEnumerable<SelectListItem>)ViewBag.Positions, " Select a position", new { @class = "form - control" })
                        <label><i class="" aria-hidden="true"></i> Kinh nghiệm</label>
                        @Html.DropDownListFor(m => m.Experience, (IEnumerable<SelectListItem>)ViewBag.Experience, " Select experience", new { @class = "form - control" })
                    </fieldset>
                    <input type="submit" value="Make a Reservation">
                    <button type="submit" class="aaa">submit</button>
                }
            </div>
        </div>
        <style>
            button[type="submit"][class="aaa"] {
                padding: 19px 39px 18px 39px;
                color: #FFF;
                background-color: #4bc970;
                font-size: 18px;
                text-align: center;
                font-style: normal;
                border-radius: 5px;
                width: 100%;
                border: 1px solid #3ac162;
                border-width: 1px 1px 3px;
                box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
                margin-bottom: 10px;
            }
        </style>
    </body>
    </html>*@

 


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend><span class="number">1</span> Your Basic Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.FullName)
            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @required = "" })
            @Html.ValidationMessageFor(model => model.FullName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @required = "", @type = "Email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class=" form - group ">
            @Html.LabelFor(model => model.Phone)
            @Html.TextBoxFor(model => model.Phone, new { @class = "form - control ", @required = "", @type = "text", @onkeypress = "return valideNumber()" })
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <div class=" form - group ">
            @Html.LabelFor(model => model.Address)
            @Html.TextBoxFor(model => model.Address, new { @class = "form - control ", @required = "" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
    </fieldset>
    <div class=" form - group ">
        <fieldset>
            <legend><span class="number">2</span> Your Profile</legend>
            <label><i class="" aria-hidden="true"></i> Vị trí</label>
            @Html.DropDownListFor(model => model.Position, (IEnumerable<SelectListItem>)ViewBag.Positions, " Select a position", new { @class = "form - control ", @required = "" })

            <label><i class="" aria-hidden="true"></i> Kinh nghiệm</label>

            @Html.DropDownListFor(model => model.Experience, (IEnumerable<SelectListItem>)ViewBag.Experience, " Select experience", new { @class = "form - control ", @required = "" })
        </fieldset>
    </div>
    <button type="submit" class="aaa">submit</button>


}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
<style>
    button[type="submit"][class="aaa"] {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #4bc970;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #3ac162;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 10px;
    }
</style>
<script>
        function valideNumber() {
            var charCode = (event.which) ? event.which : event.keyCode;
            if (charCode >= 48 && charCode <= 57) {
                return true;
            } else {
                return false;
            }
    }
</script>
